node_modules/
.expo/
dist/
pc-api-7720674180752937284-579-d11b64ce2f7b.json
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
